{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logitech</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/homePage.css' %}" />
  </head>
  <body>
    {% include 'navigation/testheader.html' %}
    <div class="container-body">
      <div class="container-banner-one">
        <article>
          <div class="choose-your-favorite-main-element">
            <h1 class="mechanical-text">mechanical</h1>
            <h1 class="gaming-keybaord-switches">
              gaming keyboard <br />switches
            </h1>
          </div>
          <div class="paragraph-under-choose-main-element">
            <p class="paragrah-under-choose">
              Shop wired, wireless keyboards and consoles. Choose from the
              mechanical, ergonomic, comfort, portable, Bluetooth®,
              multi-device, and multi-OS product range.Delivering performance,
              quality, and reliability, Logitech keyboards are the choice of
              some of the world's top esports athletes.
            </p>
          </div>
        </article>
      </div>
      <video autoplay loop muted plays-inline class="background-clip">
        <source
          type="video/mp4"
          src="{% static 'img/mechanical-video.mp4' %}" />
      </video>
    </div>
    <h1>Hello</h1>
  </body>
</html>
