<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
</head>
<body>
   <div class="wrapper">
       <form action="">
         <h1>Login</h1>
         <div class="input-box">
           <input type="text" placeholder="Username">
        </div>
    <div class="input-box">
       <input type="password" placeholder="Passowrd">
    </div>
    <div class="under-thing">
       <button type="submit" class="btn">Login</button>
       <div class="remember-forgot">
          <a href="#">Forgot passowrd?</a>
         </div>    
       <div class="register-link">
          <p>Don't have an account?
            <a href="./signup">Sign Up</a>
          </p> 
       </div>
       </form> 
       </div>
      </div>
  </body>
  </html>
