body {
  overflow-x: hidden;
}

.header-navbar-main-con {
    background-color: rgb(255, 255, 255);
    border: solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 4px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
  /* border: solid rgb(251, 0, 0); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
}


.header-navbar-sub-con {
    display: flex
    ;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 65%;
  }
  
  .header-navbar-left-con {
    display: flex
    ;
        align-items: center;
        justify-content: space-between;
        width: 180px;
        z-index: 2;
        margin-left: 20px;
  }
  
  .navbar-page-con {
    padding: 0;
    display: flex
    ;
        justify-content: center;
        width: 100%;
        position: absolute;
        z-index: 1;
  }
  
  .navbar-page-element {
    display: flex;
    justify-content: center;
    height: 10%;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 9px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
  }
  
  .navbar-page-element:hover {
    transform: scale(1.04);
    background: #b1b1b161;
  }
  
  
  
  .icon-shopping{
    width: 20px;
    margin-left: 40px;
  }
  
  .guest-nav {
    font-family: 'Montserrat', sans-serif;
    /* border: solid red; */
    text-transform: uppercase;
    color: rgb(48, 48, 48);
    /* text-shadow:rgba(0, 0, 0, 0.4) 1px 2px 2px;; */
    font-size:25px;
    font-weight: 900;
    font-size: 15px;
    padding-left: 3%;
  }
  
  .login-signup {
    /* border: solid rgb(104, 69, 69); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .li-login{
    display: none;
    width: 66px;
    height: 30px;
    background: pink;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  .li-login a {
    text-transform: uppercase;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 700;
  }
  .li-signup{
    display: none;
    width: 66px;
    height: 30px;
    background: pink;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
  }
  .li-signup a {
    /* border: solid yellow; */
    text-transform: uppercase;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 700;
  }
  .nav-link{
    /* border: solid yellow; */
    width: auto;
    position: relative;
    z-index: 2;
  }
  .head-link {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
  }

  .cart-counter-con {
    text-align: center;
    background-color: #bcbcbc;
    padding-top: 3px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -11px;
    right: -11px;
    border-radius: 50%;
  }