@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Lexend:wght@100..900&family=Montserrat:wght@100..900&family=Parkinsans:wght@300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');*{
  font-family: sans-serif;
}
body{
  margin: 0;
}
.guest-nav{
  font-size: 20px;
  margin-left: 40px;
  padding-left: 20px;
  text-transform: uppercase;
}
.header-navbar-main-con{
  /* border: solid; */
  background-color: rgb(33, 33, 33);
}
.header-navbar-sub-con{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 680;
}
.navbar-page-con{
  /* border: solid; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 45rem;
  height: 9vh;
  font-size: 15px;
}
.navbar-page-element{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-page-con .navbar-page-element:hover{
  background-color: rgb(57, 57, 57);
}
.li-login a{
  color: rgb(255, 255, 255);
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}
.li-signup a{
  color: rgb(255, 255, 255);
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}
.navbar-page-con a:hover{
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: 0.2em;
}
.icon-add-cart{
  margin-right: 20px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 35px;
}
.icon-shopping{
  width: 20px;
}
.cart-counter-con #cart-counter-id{
  color: black;
  margin-left: 5px;
}
.navbar-about-element{
  width: 120px;
}