.container-body{
  height: 100vh;
  max-width: 100%;
}
.container-banner{
  /* height: 90%; */
  /* border: 10px solid rgb(82, 31, 20); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-banner img{
  width: 45%;
  /* transform: rotate(5deg); */
}
article{
  /* border: solid; */
  /* width: 20%; */
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.macer-top-logo{
  margin-left: 13px;
  color: rgb(0, 0, 0);
  font-size: 1vw;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}
.choose-your-favorite h1{
  text-transform: uppercase;
  font-size: 3.2vw;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-weight: 700;
}
.paragraph-under-keyboard-console p{
  font-size: 1vw;
  color: rgb(0, 0, 0);
}
.macerbranding{
  overflow: hidden;
  position:absolute;
  z-index: -1;
  left: 0;
  top: 0;
  color: rgb(232, 232, 232);
  font-size: 25vw;
  text-transform: uppercase;
}