@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* .header-navbar-main-con {
  background-color: rgb(255, 255, 255);
  border: solid rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 4px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
} */

/* .header-navbar-sub-con {
  display: flex
  ;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 65%;
}

.header-navbar-left-con {
  display: flex
  ;
      align-items: center;
      justify-content: space-between;
      width: auto;
      z-index: 2;
      margin-left: 20px;
}

.navbar-page-con {
  padding: 0;
  display: flex
  ;
      justify-content: center;
      width: 100%;
      position: absolute;
      z-index: 1;
}

.navbar-page-element {
  display: flex;
  justify-content: center;
  height: 10%;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 9px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.navbar-page-element:hover {
  transform: scale(1.04);
  background: #b1b1b161;
}



.icon-shopping{
  width: 20px;
  margin-left: 40px;
}

.guest-nav {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: rgb(48, 48, 48);
  font-size:25px;
  font-weight: 900;
  font-size: 15px;
  padding-left: 3%;
}

.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.li-login{
  display: none;
  width: 66px;
  height: 30px;
  background: pink;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.li-login a {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 700;
}
.li-signup{
  display: none;
  width: 66px;
  height: 30px;
  background: pink;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.li-signup a {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 700;
}
.nav-link{
  width: auto;
  position: relative;
  z-index: 2;
}
.head-link {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20px;
} */





/*----------Grid Boxes----------*/

.brand-img{
  width: 40%;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  justify-content: center;
}
.container-grid {
  width: 89%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  width: 250px;
  height: 250px;
  border: 1px solid rgb(218, 217, 217);
  background-color: rgb(255, 254, 254);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.159) 0px 5px 8px;
  /* border: solid goldenrod; */
}
.box .shape-in-Grid {
  /* border: solid yellow; */
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shape-in-Grid .keyboard-pic{
  width: 210px;
  margin-top: 20px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.194) 0px 4px 12px;
}
.series-one-x-Universal{
  font-size: 15px;
  font-weight: 780;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif ;
}
.box .series-one-x-kuromi {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 780;
  font-family: "Montserrat", sans-serif ;
  color: rgb(0, 0, 0);
}
.detail-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid black; */
  height: 100%;
  width: 90%;
  position: relative;
  /* margin: 10px; */
}
.detail-container .long-ph{
  font-size: 11px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: 800;
}
.price-head{
  /* border: solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 40%;
  width: 100%;
}
.detail-price{
  display: flex;
  /* border: solid black; */
}
.detail-price .price{
  font-size: 15px;
}
.price-dollars{
  font-size: 15px;
  padding-left: 5px;
  color: rgb(211, 0, 0);
  font-weight: bolder;
}
.detail-color .rgb-color{
  /* font-weight: bold; */
  font-size: 15px;
}

.rgb{
  color: rgb(33, 33, 33);
  font-size: 15px;
  font-weight: bolder;
  padding-left: 5px;
}
.detail-color {
  display: flex;
  /* border: solid yellow; */
}
.icon-connection{
  position: absolute;
  bottom: 7px;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 225, 225);
  width: 40px;
  height: 32px;
  border-radius: 5px;
}
.icon-connection .icon-bluetooth{
  width: 12px;
  color: white;
}
.icon-connection .icon-usb{
  width: 12px;
  color: white;
  margin-left: 3px;
}
.add-cart{
  text-transform: uppercase;
  color: white;
  font-size: 8px;
  background: linear-gradient(rgb(124, 164, 255), rgb(1, 84, 200));
  border: none;
  border-radius: 3px;
  height: 30px;
  position: absolute;
  right: 0px;
  bottom: 8px;
  cursor: pointer;
}
.brand-logo img{
  width: 30px;
  position: absolute;
  left: 0px;
  bottom: 7px;
  border-radius: 5px;
}
.brand-logo h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 3px;
  position: absolute;
  left: 0px;
  bottom: 11px;
  border-radius: 5px;
  text-transform: uppercase;
}


/* .cart-counter-con {
  text-align: center;
  background-color: #bcbcbc;
  padding-top: 3px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -11px;
  right: -11px;
  border-radius: 50%;
} */


#logo-img-con-id {
  display: flex;
  justify-content: center;
}

.shop-sidebar-main-con {
  display: flex;
      justify-content: center;
      padding: 0;
      list-style: none;
}

.shop-sidebar-element-con {
  margin: 10px;
}

.brand-option-btn {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.brand-option-btn:hover {
  transform: scale(1.04);
  background: #b1b1b161;
}

/* responsive somrab rub ng box */
@media (max-width: 610px) {
  .shape-in-Grid {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
  }
}
@media (max-width:990px) {
  .shape-in-Grid img{
    width: 90%;
  }
}
/* search bar resonponsive */
@media (max-width:990px){
  .head-link .search-bar {
    width: 25rem;
  }
}
@media (max-width:900px) {
  .head-link .search-bar{
    width:18rem;
  }
}
@media (max-width:720px) {
  .head-link .search-bar{
    width:13rem;
  }
}
@media (max-width:790px){
  .guest-nav {
    padding-left: 15px;
  }
}
@media (max-width:700px) {
  .head-link .search-bar{
    width:16rem;
    /* height: 35px; */
  }
}
@media (max-width:600px) {
  .head-link .search-bar{
    width:12rem;
    height: 30px;
  }
}
@media (max-width:690px) {
  nav{
    display: flex;
    flex-direction: column;
    /* border: solid black; */
    justify-content: center;
    align-items: center;
    padding-left: 1.3rem;
  }
}
@media (max-width:690px) {
  .guest-nav{
    padding-left: 1rem;
    font-size: 20px;
  }
}
