@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.929)),url(../img/asus.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 345px;
    padding: 30px 40;
    border: 0.8px solid rgba(255, 255, 255, 0.351);
    background-color: rgba(7, 7, 7, 0.187);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.52);
}
.form-signup{
    height: 100%;
    width: 85%;
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
label{
    font-size: 13px;
}
.input-box{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.input-box input{
    background-color: rgba(101, 101, 101, 0);
    color: white;
    border: 1px solid white;
    padding-left: 10px;
    background-color: none;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    outline: none;
    margin-left: 10px;
}
.input-box .email{
    /* border: solid white; */
    padding-right: 28px;
}
.input-box .password{
    /* border: solid white; */
    padding-right: 4px;
}
.form-signup h1{
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}
.btn-signup button{
    margin: 10px;
    background: linear-gradient(rgb(32 19 218), rgb(235 39 186));
    color: white;
    font-weight: 700;
    font-size: 14px;
    height: 1.5rem;
    width: 8rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.already-haveacc{
    font-weight: 600;
    font-size: 12px;
    margin: 10px;
}
.already-haveacc a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
form img{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
form .background-h1{
    color: rgb(255, 255, 255);
    font-size: 8.7rem;
    position: absolute;
    z-index: -1;
}
